/*CSS Variables*/
:root{
  --textcolor:white;
  --fontfamilymatters: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*:not(li,span,a,p){
    background-image: linear-gradient(to right, #150485, #03C4A1);
    color: white;
    font-family:  var(--fontfamilymatters);
  }

/*Header CSS*/  
  .🧠 {
      padding: 0px;
      text-align: center;
      background-size: 100%;
      color: var(--textcolor);
  }
  
  h1 span{
      display: inline-block;
      font-size: 20px;
  }

/*Quote CSS*/   
  .🗣️ {
    text-align: center;
  }
  
  h2, h3{
    text-decoration: underline;
  }

/*Nav Bar CSS*/   
  ul{
      display: flex;
      justify-content: space-evenly;
      padding: 40px;
      color: var(--textcolor);
    }
  
   ul > li{
      display:inline-block;
   }
  
  
  a {
      color: var(--textcolor);
      text-decoration: none;
      font-family:  var(--fontfamilymatters);
   
  }
  
  a:hover {
      color:#4FD3C4;
      font-style: initial;
  }
  
/*About Me CSS*/ 
  #🧔‍♂️ {
    flex: 3;
    padding: 20px;
    color: var(--textcolor);
    border: 4px none yellow; 
  }
  
  .📝 {  
    height: 300px;
    padding: 40px;
    font-family:  var(--fontfamilymatters);
    text-align: left;
    color: var(--textcolor);
    display: flex;
    flex-wrap: wrap;
  }
  
  .🔥{
    height: 260px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    border: 3px solid white;
    margin-right:  50px;
   }

/*Projects CSS*/    
  #🛠️ {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%; 
    padding-bottom: 40px;
    border: 2px none pink;
  }
 
 /*Big Project CSS*/ 
  .📕 {
    height: 300px;
    width: 100%;
    border: 3px inset white;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
  }
  
  
  .📗 {
    height: 300px;
    width: 400px;
    border: 3px inset white;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
  }
  
  .🔗 {
      align-self: flex-end;
      font-size: 30px;
      height: 50px;
      width: auto;
      background-color: blueviolet;
      border: 2px inset black; 
      color: white;
      text-align: left;
   }

/*Footer CSS*/   
   .🦶 {
    padding: 20px;
    text-align: center;
    color: var(--textcolor);
  }
  
/*Media Queries CSS*/    
  @media screen and (max-width: 750px) {
    ul {
      flex-direction: column;
      text-align: center;
      font-size: 20px;
  }
  
    footer {
      flex-direction: column;
      text-align: center;
      font-size: 20px;
  }
  
  }
 